<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>Artículos</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active"> Encuentros con Ana, la Abuela de Jesús</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/ana.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h3>
                        Encuentros con Ana, la Abuela de Jesús
                    </h3>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-8 article-container">
                <div class="article-text text-justify">
                    <p>
                    A partir del domingo 12 de septiembre comenzaré un grupo abierto en donde realizaremos una actividad
                    de sintonía con Ana, la abuela de Jesús.
                    </p>
                    <p>
                    En este espacio en el cual honramos el Cristo Femenino que vive en cada ser humano, se busca
                    sintonizar nuestras almas con esa energía indispensable para la evolución que estamos transitando.
                    </p>  
                    <p>
                    Si tienes resonancia con esta actividad, descarga el libro en este link que te compartimos e
                    inscríbete en este formulario para seguir recibiendo información.
                    </p>
                    <p>
                    Los encuentros serán online.
                    </p>
                    <p>
                    Con Amor
                    </p>
                    Lita
                </div>
                <app-comments></app-comments>
            </div>
            <div class="col-lg-4 col-sm-12">
                <app-news></app-news>
            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>