<!-- footer -->
<footer class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-3 offset-sm-0 col-sm-12 mt-3">
                <mat-list role="list sections" dense>
                    <div mat-subheader>SECCIONES</div>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><a [routerLink]="['/mission']">MISIÓN</a></mat-list-item>
                    <mat-list-item role="listitem"><a [routerLink]="['/activity']">ACTIVIDAD</a></mat-list-item>
                    <mat-list-item role="listitem"><a [routerLink]="['/violet']">LLAMA VIOLETA CONSUMIDORA</a></mat-list-item>
                    <mat-list-item role="listitem"><a [routerLink]="['/offer']">LO QUE OFRECEMOS</a></mat-list-item>
                    <mat-list-item role="listitem"> <a [routerLink]="['/library']">MATERIAL DESCARGABLE</a></mat-list-item>
                </mat-list>
            </div>

            <div class="offset-lg-1 col-lg-3  offset-sm-0 col-sm-12 text-lg-left text-sm-center mt-3">
                <mat-list role="list friends" dense>
                    
                    <div mat-subheader>AMIG@S</div>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem">
                        <a href="https://litadonoso.cl/" target="_blank">LITADONOSO.CL</a>
                    </mat-list-item>
                    <mat-list-item role="listitem"><a [routerLink]="['/article']">OTROS.CL</a></mat-list-item>
                </mat-list>
            </div>

            <div class="col-lg-4 col-sm-12 networks text-center">
                <img class="align-middle" src="/assets/images/networks.png">
            </div>

        </div>
    </div>
</footer>