<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>Artículos</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active">Misión</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/icon.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h3>
                        Misión
                    </h3>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-8 article-container">
                <div class="article-text">
                    <p>
                        Este blog tiene como finalidad poner al alcance de todas las personas, la información que 
                        hace 90 años (1930) fue entregada a la humanidad por el Maestro Saint Germain, con el fin 
                        de que cada ser humano pudiera encontrar el camino a la Ascensión. 
                    </p>
                    <p>  
                        Si esta información te vibra y te resuena despertando con ella tus memorias de sintonía 
                        con la Divina Presencia “I AM”, entonces eres bienvenid@ a este portal de Luz y Amor. 
                        Somos un grupo de 144 personas que desde el año 2013 nos hemos convocado con la única 
                        intención de Decretar el bien mayor para la humanidad, utilizando las Enseñanzas que el 
                        Maestro nos ha legado.  
                    </p>
                    <p>
                        Sin fines de recibir beneficios personales de ningún tipo –incluido dinero-, estamos 
                        organizados para realizar un Servicio de amor incondicional y desinteresado para nuestros 
                        hermanos que habitan el planeta en esta y otras dimensiones y también para cada uno de nosotros, 
                        nuestro entorno y nuestros asuntos. 
                    </p>
                    <p>
                        Con ese fin, sostenemos Servicios de Decretos diarios desde Chile –lugar en el que se origina 
                        esta Actividad- Argentina, Uruguay, México, Estados Unidos de Norteamérica, España, Suiza, India y África. 
                        Estamos convencid@s de que el Amor y la Luz se imponen por presencia y que actuar desde la 
                        maestría de transmutar con la Llama Violeta emociones y pensamientos para elevarlos a la 
                        Perfección de la Fuente PadreMadre, nos dará la tan anhelada Libertad personal y colectiva 
                        en forma definitiva. El karma no es otra cosa que las acumulaciones de energía emocional e 
                        intelectual mal calificadas en todas nuestras formas de existencia. La Llama Violeta es el 
                        regalo que hoy tenemos para saldar el karma. En amor y con Amor.
                    </p>
                </div>

                <hr class="color">
                <p>3 comentario(s)</p>
                <!-- COMMENTS -->
                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Violeta Rhama
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    30 Octubre 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Qué emoción poder contar con esta herramienta, Gracias infinitas.
                    </div>


                </div>
                <hr>

                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
                        data-lazy-srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x" 
                        class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" 
                        data-lazy-src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
                        data-ll-status="loaded" 
                        srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Verónica Marchant
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    14 Noviembre 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Muy buen material en la página. Lo recomiendo.
                    </div>
                </div>
                <hr>

                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Francesco Anilar
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    21 Febrero 2020
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Gracias por compartir toda esta información !!!
                    </div>


                </div>
                <hr>
                <!-- LEAVE A COMMENT -->
                <div class="row comment-space">
                    <div class="row">
                        <div class="col-6 col-left">
                            <h6>DEJA UN COMENTARIO</h6>
                        </div>
                        <div class="col-6 col-right">
                            <a href="#">Inicia sesión para dejar un comentario...</a>
                        </div>
                    </div>
                    <div class="row col-12 input-message">
                        <form method="post" action="action.php">
                            <br />
                            <textarea name="comentarios" rows="5" cols="100%">...Tus comentarios aquí...
                            </textarea>
                        </form>
                    </div>
                </div>


            </div>         
            <div class="col-4">
                <app-news></app-news>
            </div>    
        </div>
    </div>

</main>
<app-footer></app-footer>