<header>
    <nav class="navbar navbar-expand-lg text-center navbar-light">
        <div class="container responsiveBtn">
            <a class="navbar-logo" href="/">
                <img class="logo" src="assets/images/logo.png">
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText" >
                <ul class="navbar-nav styleNav">
                    <li [routerLink]="['/']" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="openDialog(form)">Inscripciones</a>
                    </li>
                    <li [routerLink]="['/article']" class="nav-item">
                        <a class="nav-link" href="/courses">Cursos</a>
                    </li>
                    <li [routerLink]="['/article']" class="nav-item">
                        <a class="nav-link" href="/library">Biblioteca</a>
                    </li>
                    <li [routerLink]="['/article']" class="nav-item" mat-icon-button [matMenuTriggerFor]="menu">
                        <a class="nav-link">¿Quienes somos? </a>
                    </li>
                    <li class="nav-item">
                        <button mat-raised-button class="login">Iniciar Sesión</button>
                    </li>
                    

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span ><a href="/offer">Lo que te Ofrecemos</a></span>
                        </button>
                        <button mat-menu-item>
                            <span><a href="/activity">Actividad</a></span>
                        </button>
                        <button mat-menu-item>
                            <span><a href="/mission">Misión</a></span>
                        </button>
                        <button mat-menu-item>
                            <span><a href="/violet">Llama Violeta</a></span>
                        </button>
                    </mat-menu>
                </ul>
            </div>
        </div>
    </nav>
</header>



<ng-template #form>
    <div class="content-modal">
        <div mat-dialog-title class="close">
            <mat-icon mat-button mat-dialog-close matSuffix>highlight_off</mat-icon>
        </div>
        <div mat-dialog-content>
            <div class="contact-form">CONTÁCTANOS</div>
            <hr>
            <div class="pt-4">
                <form class="form">
                    <mat-form-field appearance="outline">
                        <input type="text" name="fm-name" autocomplete="doNotAutoComplete" matInput
                            placeholder="Nombre">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input type="text" name="fm-lastname" autocomplete="doNotAutoComplete" matInput
                            placeholder="Apellidos">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input type="text" name="fm-lastname" autocomplete="doNotAutoComplete" matInput
                            placeholder="Seleccione Evento">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input type="text" name="fm-lastname" autocomplete="doNotAutoComplete" matInput
                            placeholder="Comentario">
                    </mat-form-field>
                    <hr>
                    <button mat-raised-button class="login">Enviar</button>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</ng-template>

  