@import "../../../styles/mixins.scss";

header > nav {
    background-color: var(--app-nav);
    height: 71px;
    @include ev-simply-shadow;
    z-index: 1000;
    // transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
    // box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;

    .container {
        max-height: 100%;
    }

    /* opacity: 0.9; */
    a.navbar-logo {
        height: 100%;

        img.logo {
            height: 58px;
            width: auto;
        }
    }

   
    li{
        cursor: pointer;
    }
}

button.login{
    background-color: #79609C;
    color: white;
}

div.content-modal {
    .close {
        text-align: right;
        img {
            cursor: pointer;
        }
    }
}


.form{
    min-width: 300px;
    mat-form-field{
        min-width: 80%;
    }

}

//CONTACT FORM

.contact-form {
   padding: 15px;
   font-size: 20px;
   font-weight: bold;
   color: #79609C;
   margin-left: -15px;
}


@media (max-width: 734px) {
    .content-modal {
        input {
            width: auto;
        }
    }
  }




