<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>Artículos</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active"> Bienamada poderosa presencia I Am</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/iam.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h3>
                        BIENAMADA PODEROSA PRESENCIA
                        I AM
                    </h3>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-8 article-container">
                <div class="article-text">
                    I AM es una invocación de nuestra divinidad individualizada eterna y perfecta.

                    Es una vibración por lo que No tiene traducción.

                    Para vuestra comprensión y aplicación, nuestra invitación es leer la maravillosa trilogía del
                    maestro Saint Germain, donde encontrarán la Verdad de la Vida y la preparación para esta nueva edad
                    de oro que ya ha comenzado

                </div>
            </div>
            <div class="col-sm-12 col-lg-4 top-news text-right">            
                <!-- <img [routerLink]="['/']" src="/assets/images/col-news.png" alt="" class="src"> -->
                <div class="row" >
                    <div class="col-6 card-start">
                        <span class="pl-2 active">LO ÚLTIMO </span>
                    </div>
                    <div class="col-6">
                        <span class="pl-2">LO MÁS LEÍDO</span>
                    </div>
                    <div class="spacing-card" [routerLink]="['/article1']">
                        <mat-card>
                            <div class="submit-date">
                                29 Marzo 2022
                             </div>
                            <div class="parent-image">
                                <div class="card-image" style="background-image: url('/assets/images/iam.png');">
                                </div>
                            </div>
                            <h3>Beloved Mighty I AM Presence</h3>
                            <div class="comments">
                                <h1>8 comentarios</h1>
                            </div>
                        </mat-card>
                    </div>
                    <div class="spacing-card" [routerLink]="['/article2']">
                        <mat-card >
                            <div class="submit-date">
                                29 Marzo 2022
                             </div>
                            <div class="parent-image">
                                <div class="card-image" style="background-image: url('/assets/images/ana.png');">
                                </div>
                            </div>
                            <h3>Encuentros con Ana, la Abuela de Jesús</h3>
                            <div class="comments">
                                <h1>9 comentarios</h1>
                            </div>
                        </mat-card>
                    </div>
                    <div  class="spacing-card" [routerLink]="['/article3']">
                        <mat-card>
                            <div class="submit-date"> 
                                29 Marzo 2022
                             </div>
                            <div class="parent-image">
                                <div class="card-image"
                                    style="background-image: url('/assets/images/saint-germain.png');">
                                </div>
                            </div>
                            <h3 >Maestro Saint Germain</h3>
                            <div class="comments">
                                <h1>11 comentarios</h1>
                            </div>
                        </mat-card>
                    </div>
                    <!-- <div class="filter col-lg-3 offset-lg-9 text-lg-right col-sm-12 offset-sm-0 text-sm-center">
                        <span class="pl-2 active">LO ÚLTIMO </span>
                        <span class="pl-2">LO MÁS LEÍDO</span>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>