<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>Artículos</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active"> Bienamada poderosa presencia I Am</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/iam.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h3>
                        BIENAMADA PODEROSA PRESENCIA
                        I AM
                    </h3>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-8 article-container">
                <div class="article-text">
                    I AM es una invocación de nuestra divinidad individualizada eterna y perfecta.

                    Es una vibración por lo que No tiene traducción.

                    Para vuestra comprensión y aplicación, nuestra invitación es leer la maravillosa trilogía del
                    maestro Saint Germain, donde encontrarán la Verdad de la Vida y la preparación para esta nueva edad
                    de oro que ya ha comenzado

                </div>
            </div>         
            <div class="col-4">
                <app-news></app-news>
            </div>    
        </div>
    </div>
</main>
<app-footer></app-footer>