<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>Artículos</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active">Pascua de Resurrección</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/pascua.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h4>
                        Pascua de Resurrección
                    </h4>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8 pt-5">
                <div class="article-text text-justify">
                    Hoy celebramos la Victoria de la Resurrección de Bienamado Jesús, el Maestro esenio que marcó un
                    antes y un después en la historia de la humanidad.

                    Su Ministerio no solo sigue vigente hasta nuestros días, ya que además Su mensaje cobra cada ve más
                    importancia y notoriedad. Las personas están intuyendo con fuerza que las soluciones para este
                    planeta en que todo parecía inamovible y obvio, pasan por elevar la consciencia, buscar sistemas
                    sociales cooperativos y equilibrados, respetar y conservar los recursos naturales y por sobre todo,
                    elegir vivir en amor.

                    Todo esto no habría sido posible sin la activación del Cristo Femenino que cada ser humano porta en
                    su ADN Luz. Podemos ser o no conscientes de lo que está ocurriendo en ese sentido. Pero la evolución
                    no concede estancamientos de ninguna índole.

                    El Cristo Femenino de las grandes iniciadas de la historia, comienza a manifestarse con intensidad.
                    Y Ella, María Magdalena, la primera en asistir a la Resurrección de Su Maestro y compañero, nos
                    recuerda la importancia del surgimiento de la urgente unificación de los Sagrados Principios
                    masculinos y femeninos.

                    La nueva humanidad será en unidad o no será.

                    ¡Feliz Pascua de Resurrección!

                </div>
                <app-comments></app-comments>
            </div>
            <div class="col-lg-4 col-sm-12">
                <app-news></app-news>
            </div>
        </div>
    </div>  
</main>
<app-footer></app-footer>