.comments { 
    display:flex; 
    justify-content: end;

    h1 {
        color: #b1b1b1;
        font-size: 15px;
        font-weight: bolder;
    } 
}  
 
// COMMENTS
.picture-comment {
    background-color: #fff9f90e;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;

    .testimony {
        display: flex;
        align-items: center; 
        line-height: 23px;   
        margin-left: 10px;
        
        .comment-name {
            font-size: 20px;
            font-weight: bold;
            color: #5223aa;
        }

        .comment-date {
            font-size: 20px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.667);
        }
    }
    .comment-task {
        font-size: 20px;
        padding: 20px;
    }
}

// LEAVE A COMENNT
.comment-space {
   
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;

    .col-left {
        display: flex;
        justify-content: start;
    }

    .col-right {
        display: flex;
        justify-content: end;
    }

    .input-message {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    
        width: 100%;
    }
}

//input-message
.container {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 20px;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
}

.commenter {
    float: left;
}

.commenter img {
    width: 35px;
    height: 35px;
}

.comment-text-area {
    float: left;
    width: 100%;
    height: auto;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

@media (max-width: 734px) {
    .picture-comment {
        margin: 0;
    }
    .testimony {
        //background-color: #5223aa;
        width: 80%;
        padding-left: 40px;
        padding-right: 0;
        margin-right: 0;
    }
    .comment-task {
        font-size: 15px;
        padding: 0px;
    }
    .col-right {
        font-size: 10px;
        text-align: right;
    }
    .comment-space {
        padding: 0px;
    }    

  }