<!-- COMMENTS -->
<hr class="color">
<p>3 comentario(s)</p>
<div class="picture-comment row">
    <div class="col-1">
        <img alt="" src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x">
    </div>
    <div class="testimony col-5">
        <div>
            <div class="row">
                <div class="col comment-name">
                    Violeta Rhama
                </div>
            </div>
            <div class="row comment-date">
                <div class="col">
                    30 Octubre 2022
                </div>
            </div>
        </div>
    </div>
    <div class="row comment-task">
        Qué emoción poder contar con esta herramienta, Gracias infinitas.
    </div>


</div>
<hr>
<div class="picture-comment row">
    <div class="col-1">
        <img alt="" src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
        data-lazy-srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x" 
        class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" 
        data-lazy-src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
        data-ll-status="loaded" 
        srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x">
    </div>
    <div class="testimony col-5">
        <div>
            <div class="row">
                <div class="col comment-name">
                    Verónica Marchant
                </div>
            </div>
            <div class="row comment-date">
                <div class="col">
                    14 Noviembre 2021
                </div>
            </div>
        </div>
    </div>
    <div class="row comment-task">
        Muy buen material en la página. Lo recomiendo.
    </div>
</div>
<hr>
<div class="picture-comment row">
    <div class="col-1">
        <img alt="" src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x">
    </div>
    <div class="testimony col-5">
        <div>
            <div class="row">
                <div class="col comment-name">
                    Francesco Anilar
                </div>
            </div>
            <div class="row comment-date">
                <div class="col">
                    21 Febrero 2020
                </div>
            </div>
        </div>
    </div>
    <div class="row comment-task">
        Gracias por compartir toda esta información !!!
    </div>


</div>
<hr>
<!-- LEAVE A COMMENT -->
<div class="row comment-space">
    <div class="row">
        <div class="col-6 col-left">
            <h6>DEJA UN COMENTARIO</h6>
        </div>
        <div class="col-6 col-right">
            <a href="#">Inicia sesión para dejar un comentario...</a>
        </div>
    </div>
    <div class="row col-12 input-message">
        <div class="container">
            <div class="comment">
                <textarea class="textinput" placeholder="Tus comentarios..."></textarea>
            </div>
        </div>
    </div>
</div>