<app-header></app-header>
<main class="container">
    <div class="row">
        <div class="col article-title">
            <span>¿Quiénes somos?</span>
        </div>
    </div>
    <div class="row">
        <div class="col breadcrumbs">
            <span [routerLink]="['/']">Inicio</span>
            <span>|</span>
            <span>Artículos</span>
            <span>|</span>
            <span class="active">Violeta</span>
        </div>
    </div>
    <hr>
    <div class="container header-art">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <img src="/assets/images/icon.png">
            </div>
            <div class="col-sm-12 col-lg-6 pt-5">
                <div class="date text-center">1 Mayo 2022</div>
                <div class="title text-center pt-3">
                    <h3>
                        LLama Violeta Creadora
                    </h3>
                </div>
                <div class="favorite text-center pt-5">Agrega a favoritos</div>
                <div class="networks text-center pt-3">
                    <img src="/assets/images/networks2.png">
                </div>
            </div>
        </div>
    </div>
    <hr class="color">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-lg-8 article-container">
                <div class="article-text">
                    <p>
                        No hay palabras que puedan describir la Acción Dinámica de la Llama Violeta 
                        Consumidora en nuestras vidas.                        
                    </p>
                    <p>  
                        Si estás dispuest@ a probar el Llamado a la Fuerza Cósmica de Amor de la 
                        Llama Violeta, descubrirás cómo se vive en libertad de tus propias cadenas y 
                        de aquellas que has aceptado durante demasiado tiempo. 
                    </p>
                </div>

                <hr class="color">
                <p>3 comentario(s)</p>
                <!-- COMMENTS -->
                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/23eb3b1aff3cd0da0702ffc9b2f54c35?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Violeta Rhama
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    30 Octubre 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Qué emoción poder contar con esta herramienta, Gracias infinitas.
                    </div>


                </div>
                <hr>

                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
                        data-lazy-srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x" 
                        class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" 
                        data-lazy-src="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=50&amp;d=mm&amp;r=g" 
                        data-ll-status="loaded" 
                        srcset="https://secure.gravatar.com/avatar/349feb33d09b83a52808f4c46003fa6e?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Verónica Marchant
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    14 Noviembre 2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Muy buen material en la página. Lo recomiendo.
                    </div>
                </div>
                <hr>

                <div class="picture-comment row">
                    <div class="col-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo entered lazyloaded" height="50" width="50" data-lazy-src="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=50&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/34e3e039b0cc90bf12899651925ea349?s=100&amp;d=mm&amp;r=g 2x">
                    </div>
                    <div class="testimony col-5">
                        <div>
                            <div class="row">
                                <div class="col comment-name">
                                    Francesco Anilar
                                </div>
                            </div>
                            <div class="row comment-date">
                                <div class="col">
                                    21 Febrero 2020
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-task">
                        Gracias por compartir toda esta información !!!
                    </div>


                </div>
                <hr>
                <!-- LEAVE A COMMENT -->
                <div class="row comment-space">
                    <div class="row">
                        <div class="col-6 col-left">
                            <h6>DEJA UN COMENTARIO</h6>
                        </div>
                        <div class="col-6 col-right">
                            <a href="#">Inicia sesión para dejar un comentario...</a>
                        </div>
                    </div>
                    <div class="row col-12 input-message">
                        <form method="post" action="action.php">
                            <br />
                            <textarea name="comentarios" rows="5" cols="100%">...Tus comentarios aquí...
                            </textarea>
                        </form>
                    </div>
                </div>


            </div>         
            <div class="col-4">
                <app-news></app-news>
            </div>    
        </div>
    </div>

</main>
<app-footer></app-footer>