<app-header></app-header>
<main>
    <!-- presentation -->
    <section class="text-center banner">
        <owl-carousel-o [options]='customOptions'>
            <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
            <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
            <ng-template carouselSlide><img src="assets/images/banner.png"></ng-template>
        </owl-carousel-o>
    </section>

    <div class="container content">
        <!-- Articles -->
        <section class="margin">
            <span class="title-section">
                -- Artículos --
            </span>
            <!-- <p class="lead text-muted">Beneficios cama Ceragem.</p> -->

            <div class="articles">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="parent-image">
                            <div class="card-image" style="background-image: url('/assets/images/iam.png');"></div>
                        </div>
                        <h3>Beloved Mighty I AM Presence</h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="parent-image">
                            <div class="card-image" style="background-image: url('/assets/images/ana.png');"></div>
                        </div>
                        <h3>Encuentros con Ana, la Abuela de Jesús</h3>
                    </div>

                    <div class="col-lg-4">
                        <div class="parent-image">
                            <div class="card-image" style="background-image: url('/assets/images/saint-germain.png');"></div>
                        </div>
                        <h3>Maestro Saint Germain</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Files -->
        <section class="margin">
            <span class="title-section">
                -- Archivos --
            </span>

            <div class="row g-0 py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">

                </div>
            </div>
        </section>

        <!-- plax2 -->
        <section class="secction-plax1">
            <span class="title-section">
                -- Reflexiones --
            </span>
            <div class="plax1" >
                <div class="col-lg-6 col-md-8 mx-auto text">
                    <h1 class="fw-light">Si esta información te vibra y te resuena despertando con ella tus memorias de sintonía con la Divina Presencia “I AM”, 
                        entonces eres bienvenid@ a este portal de Luz y Amor. </h1>
                </div>
            </div>
        </section>

        <!-- footer -->
        <footer class="">
            <!-- <div class=""> -->
                <h1>Secciones</h1>
        
                <p class="mb-0">
                    MISIÓN<br>
                    ACTIVIDAD<br>
                    LLAMA VIOLETA CONSUMIDORA<br>
                    LO QUE OFRECEMOS<br>
                    MATERIAL DESCARGABLE<br>
                </p>
        
                <!-- <p class="float-end mb-1">
                    <a href="#">Subir</a>
                </p> -->
        
            <!-- </div> -->
        </footer>
    </div>
    <!-- content end -->



</main>

