
<nav class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarToggler">
    <span class="navbar-toggler-icon"></span>
</button>
    <a class="navbar-brand" href="index.html">
    <img class="logo" src="assets/images/logo.png" class="d-inline-block align-top" alt="Logo Bootstrap">
    </a>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link " href="#">Nosotros</a>
        <a class="nav-item nav-link " href="#">Servicios</a>
        <a class="nav-item nav-link " href="#">Contacto</a>
    </div>

</nav>






